In [3]:
install.packages("tidyverse")

also installing the dependencies 'colorspace', 'sys', 'bit', 'ps', 'sass', 'cachem', 'farver', 'labeling', 'munsell', 'RColorBrewer', 'viridisLite', 'rappdirs', 'rematch', 'askpass', 'bit64', 'prettyunits', 'processx', 'highr', 'xfun', 'yaml', 'bslib', 'fontawesome', 'jquerylib', 'tinytex', 'backports', 'generics', 'memoise', 'blob', 'DBI', 'R6', 'tidyselect', 'withr', 'data.table', 'gtable', 'isoband', 'scales', 'gargle', 'cellranger', 'curl', 'ids', 'rematch2', 'cpp11', 'pkgconfig', 'mime', 'openssl', 'timechange', 'systemfonts', 'textshaping', 'clipr', 'vroom', 'tzdb', 'progress', 'callr', 'fs', 'knitr', 'rmarkdown', 'selectr', 'stringi', 'broom', 'conflicted', 'dbplyr', 'dplyr', 'dtplyr', 'forcats', 'ggplot2', 'googledrive', 'googlesheets4', 'haven', 'hms', 'httr', 'lubridate', 'magrittr', 'modelr', 'purrr', 'ragg', 'readr', 'readxl', 'reprex', 'rstudioapi', 'rvest', 'stringr', 'tibble', 'tidyr', 'xml2'

package 'colorspace' successfully unpacked and MD5 sums checked
package 'sys' successfully unpacked and MD5 sums checked
package 'bit' successfully unpacked and MD5 sums checked
package 'ps' successfully unpacked and MD5 sums checked
package 'sass' successfully unpacked and MD5 sums checked
package 'cachem' successfully unpacked and MD5 sums checked
package 'farver' successfully unpacked and MD5 sums checked
package 'labeling' successfully unpacked and MD5 sums checked
package 'munsell' successfully unpacked and MD5 sums checked
package 'RColorBrewer' successfully unpacked and MD5 sums checked
package 'viridisLite' successfully unpacked and MD5 sums checked
package 'rappdirs' successfully unpacked and MD5 sums checked
package 'rematch' successfully unpacked and MD5 sums checked
package 'askpass' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'prettyunits' successfully unpacked and MD5 sums checked
package 'processx' successfully unpacked and MD5 sums checked
package 'highr' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'yaml' successfully unpacked and MD5 sums checked
package 'bslib' successfully unpacked and MD5 sums checked
package 'fontawesome' successfully unpacked and MD5 sums checked
package 'jquerylib' successfully unpacked and MD5 sums checked
package 'tinytex' successfully unpacked and MD5 sums checked
package 'backports' successfully unpacked and MD5 sums checked
package 'generics' successfully unpacked and MD5 sums checked
package 'memoise' successfully unpacked and MD5 sums checked
package 'blob' successfully unpacked and MD5 sums checked
package 'DBI' successfully unpacked and MD5 sums checked
package 'R6' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'withr' successfully unpacked and MD5 sums checked
package 'data.table' successfully unpacked and MD5 sums checked
package 'gtable' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'scales' successfully unpacked and MD5 sums checked
package 'gargle' successfully unpacked and MD5 sums checked
package 'cellranger' successfully unpacked and MD5 sums checked
package 'curl' successfully unpacked and MD5 sums checked
package 'ids' successfully unpacked and MD5 sums checked
package 'rematch2' successfully unpacked and MD5 sums checked
package 'cpp11' successfully unpacked and MD5 sums checked
package 'pkgconfig' successfully unpacked and MD5 sums checked
package 'mime' successfully unpacked and MD5 sums checked
package 'openssl' successfully unpacked and MD5 sums checked
package 'timechange' successfully unpacked and MD5 sums checked
package 'systemfonts' successfully unpacked and MD5 sums checked
package 'textshaping' successfully unpacked and MD5 sums checked
package 'clipr' successfully unpacked and MD5 sums checked
package 'vroom' successfully unpacked and MD5 sums checked
package 'tzdb' successfully unpacked and MD5 sums checked
package 'progress' successfully unpacked and MD5 sums checked
package 'callr' successfully unpacked and MD5 sums checked
package 'fs' successfully unpacked and MD5 sums checked
package 'knitr' successfully unpacked and MD5 sums checked
package 'rmarkdown' successfully unpacked and MD5 sums checked
package 'selectr' successfully unpacked and MD5 sums checked
package 'stringi' successfully unpacked and MD5 sums checked
package 'broom' successfully unpacked and MD5 sums checked
package 'conflicted' successfully unpacked and MD5 sums checked
package 'dbplyr' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'dtplyr' successfully unpacked and MD5 sums checked
package 'forcats' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked
package 'googledrive' successfully unpacked and MD5 sums checked
package 'googlesheets4' successfully unpacked and MD5 sums checked
package 'haven' successfully unpacked and MD5 sums checked
package 'hms' successfully unpacked and MD5 sums checked
package 'httr' successfully unpacked and MD5 sums checked
package 'lubridate' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'modelr' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'ragg' successfully unpacked and MD5 sums checked
package 'readr' successfully unpacked and MD5 sums checked
package 'readxl' successfully unpacked and MD5 sums checked
package 'reprex' successfully unpacked and MD5 sums checked
package 'rstudioapi' successfully unpacked and MD5 sums checked
package 'rvest' successfully unpacked and MD5 sums checked
package 'stringr' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'xml2' successfully unpacked and MD5 sums checked
package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\yamph\AppData\Local\Temp\RtmpWYQeHL\downloaded_packages

In [7]:
# Importing necessary libraries
library("tidyverse")
library("ggplot2")
library("ggrepel")
library("ggcorrplot")
library("DT")

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

ERROR: Error in library("ggrepel"): there is no package called 'ggrepel'

# Dataset : COVID-19_cases_plus_census (updated)

In [27]:
dataset_plus_census <- read.csv("https://raw.githubusercontent.com/yamphurai/Project2_ClusterAnalysis/refs/heads/main/updated_COVID-19_cases_plus_census.csv")

In [28]:
# First 10 rows
head(dataset_plus_census)

  state state_fips_code county_name       confirmed_cases deaths total_pop
1 VT    50              Essex County        111             0      6203
2 VT    50              Chittenden County  3636            78    160985
3 DE    10              Kent County       11548           187    173145
4 RI    44              Washington County  5521           122    126190
5 NH    33              Belknap County     2496            79     60383
6 RI    44              Newport County     3578             6     83204
  male_pop female_pop white_pop black_pop ⋯ male_21_49 male_50_above
1  3135     3068        5929       64     ⋯   900       1701
2 78928    82057      143657     4091     ⋯ 32947      27110
3 83544    89601      108627    41729     ⋯ 31121      29975
4 61154    65036      115206     1621     ⋯ 20438      27238
5 29705    30678       57523      285     ⋯  9663      14520
6 40952    42252       71549     2596     ⋯ 15262      18187
  female_0_20 female_21_49 female_50_above unemployed_pop employed_pop commute
1   603         924         1657            149            2784          4820
2 20668       32285        30864           3827           90054        148357
3 23801       33109        35761           5563           78078        145421
4 16106       20580        30387           4142           64576        114755
5  6541        9882        15317           1589           30674         55288
6  9040       14232        20449           2349           41471         73711
  worked_at_home walked_to_work
1  167             81
2 4783           6859
3 3270           1379
4 3110           1725
5 1487            449
6 2711           2749

In [30]:
# Checking for missing values
sum(is.na(dataset_plus_census))

[1] 0

In [31]:
# Basic statistics
summary(dataset_plus_census)

    state           state_fips_code county_name        confirmed_cases
 Length:3142        Min.   : 1.00   Length:3142        Min.   :      0.0
 Class :character   1st Qu.:18.00   Class :character   1st Qu.:    796.2
 Mode  :character   Median :29.00   Mode  :character   Median :   1916.5
                    Mean   :30.28                      Mean   :   7558.9
                    3rd Qu.:45.00                      3rd Qu.:   4955.0
                    Max.   :56.00                      Max.   :1002614.0
     deaths          total_pop           male_pop         female_pop
 Min.   :    0.0   Min.   :      74   Min.   :     39   Min.   :     35
 1st Qu.:   12.0   1st Qu.:   10945   1st Qu.:   5514   1st Qu.:   5460
 Median :   31.0   Median :   25692   Median :  12798   Median :  12885
 Mean   :  124.8   Mean   :  102166   Mean   :  50292   Mean   :  51873
 3rd Qu.:   77.0   3rd Qu.:   67445   3rd Qu.:  33481   3rd Qu.:  34108
 Max.   :13936.0   Max.   :10105722   Max.   :4979641   Max.   :5126081
   white_pop         black_pop         asian_pop          hispanic_pop
 Min.   :     18   Min.   :      0   Min.   :      0.0   Min.   :      0
 1st Qu.:   8093   1st Qu.:     95   1st Qu.:     31.0   1st Qu.:    323
 Median :  20205   Median :    758   Median :    138.0   Median :   1025
 Mean   :  62787   Mean   :  12554   Mean   :   5407.2   Mean   :  17986
 3rd Qu.:  53500   3rd Qu.:   5396   3rd Qu.:    712.5   3rd Qu.:   4868
 Max.   :2676982   Max.   :1226134   Max.   :1442577.0   Max.   :4893579
 amerindian_pop    other_race_pop    median_income    income_less_50K
 Min.   :    0.0   Min.   :    0.0   Min.   : 19264   Min.   :      9
 1st Qu.:   24.0   1st Qu.:    0.0   1st Qu.: 41123   1st Qu.:   2294
 Median :   95.5   Median :   10.0   Median : 48066   Median :   5339
 Mean   :  668.0   Mean   :  227.7   Mean   : 49754   Mean   :  16579
 3rd Qu.:  348.0   3rd Qu.:   73.0   3rd Qu.: 55764   3rd Qu.:  12832
 Max.   :64102.0   Max.   :46396.0   Max.   :129588   Max.   :1388992
 income_50K_100K  income_100K_150K   income_150K_more   rent_under_50_percent
 Min.   :    19   Min.   :     0.0   Min.   :     0.0   Min.   :      6.0
 1st Qu.:  1244   1st Qu.:   396.2   1st Qu.:   183.0   1st Qu.:    685.2
 Median :  2971   Median :  1017.5   Median :   483.5   Median :   1751.5
 Mean   : 11342   Mean   :  5315.7   Mean   :  4582.0   Mean   :   9429.8
 3rd Qu.:  8038   3rd Qu.:  3134.0   3rd Qu.:  1756.5   3rd Qu.:   5166.8
 Max.   :927390   Max.   :477403.0   Max.   :501413.0   Max.   :1160618.0
 rent_over_50_percent   median_age      male_0_20         male_21_49
 Min.   :     0       Min.   :21.60   Min.   :      1   Min.   :     10
 1st Qu.:   162       1st Qu.:37.90   1st Qu.:   1476   1st Qu.:   1900
 Median :   486       Median :41.20   Median :   3524   Median :   4604
 Mean   :  3237       Mean   :41.15   Mean   :  14139   Mean   :  19741
 3rd Qu.:  1576       3rd Qu.:44.20   3rd Qu.:   9245   3rd Qu.:  12309
 Max.   :536832       Max.   :66.40   Max.   :1378157   Max.   :2161991
 male_50_above      female_0_20       female_21_49     female_50_above
 Min.   :     25   Min.   :      4   Min.   :      8   Min.   :     23
 1st Qu.:   2312   1st Qu.:   1363   1st Qu.:   1737   1st Qu.:   2452
 Median :   5163   Median :   3277   Median :   4334   Median :   5710
 Mean   :  17760   Mean   :  13514   Mean   :  19567   Mean   :  20243
 3rd Qu.:  13163   3rd Qu.:   8837   3rd Qu.:  11846   3rd Qu.:  14641
 Max.   :1544545   Max.   :1322003   Max.   :2131518   Max.   :1795247
 unemployed_pop      employed_pop        commute        worked_at_home
 Min.   :     0.0   Min.   :     39   Min.   :     54   Min.   :     0
 1st Qu.:   286.2   1st Qu.:   4550   1st Qu.:   7994   1st Qu.:   178
 Median :   745.5   Median :  10695   Median :  19334   Median :   420
 Mean   :  3361.0   Mean   :  47931   Mean   :  85395   Mean   :  2237
 3rd Qu.:  2099.8   3rd Qu.:  29515   3rd Qu.:  53540   3rd Qu.:  1226
 Max.   :406426.0   Max.   :4805817   Max.   :8379454   Max.   :249490
 walked_to_work
 Min.   :     0.0
 1st Qu.:    98.0
 Median :   242.5
 Mean   :  1288.8
 3rd Qu.:   678.5
 Max.   :181289.0

## Scale the data

In [16]:
# Prepare data
dataset_cases_TX_clustering <- dataset_cases_TX %>%
  select(county_name, confirmed_cases)

In [17]:
# Scale the confirmed_cases column for K-means
dataset_cases_TX_clustering$scaled_confirmed_cases <- scale(dataset_cases_TX_clustering$confirmed_cases)

In [29]:
# internal structure of the dataset
str (dataset_plus_census)

'data.frame':	3142 obs. of  33 variables:
 $ state                : chr  "VT" "VT" "DE" "RI" ...
 $ state_fips_code      : int  50 50 10 44 33 44 50 9 50 50 ...
 $ county_name          : chr  "Essex County" "Chittenden County" "Kent County" "Washington County" ...
 $ confirmed_cases      : int  111 3636 11548 5521 2496 3578 312 6255 527 307 ...
 $ deaths               : int  0 78 187 122 79 6 1 125 5 4 ...
 $ total_pop            : int  6203 160985 173145 126190 60383 83204 25191 151596 36825 30576 ...
 $ male_pop             : int  3135 78928 83544 61154 29705 40952 12504 76162 18214 15366 ...
 $ female_pop           : int  3068 82057 89601 65036 30678 42252 12687 75434 18611 15210 ...
 $ white_pop            : int  5929 143657 108627 115206 57523 71549 23895 129519 34245 29070 ...
 $ black_pop            : int  64 4091 41729 1621 285 2596 214 4425 337 272 ...
 $ asian_pop            : int  32 6144 3459 2436 579 1670 161 6690 711 186 ...
 $ hispanic_pop         : int  83 3542 11820 3769 951 4623 408 7860 795 460 ...
 $ amerindian_pop       : int  20 374 967 1047 130 290 208 38 94 65 ...
 $ other_race_pop       : int  6 240 377 260 65 159 0 336 57 9 ...
 $ median_income        : int  38767 66906 57647 77862 65834 75463 54899 81312 61875 47371 ...
 $ income_less_50K      : int  1650 24184 27659 16334 9365 12051 4803 16508 5965 6387 ...
 $ income_50K_100K      : int  802 20318 21746 14204 8472 10443 3240 16815 5122 3736 ...
 $ income_100K_150K     : int  193 11615 8704 9953 3886 6530 1411 10705 2363 1339 ...
 $ income_150K_more     : int  75 8789 5272 9117 2856 6397 947 10850 1251 632 ...
 $ rent_under_50_percent: int  411 16148 13483 8510 4211 10033 1814 10632 2975 2290 ...
 $ rent_over_50_percent : int  97 6620 4408 3429 1351 2525 720 3650 665 645 ...
 $ median_age           : num  50 36.6 37.3 44.1 46.7 44.6 40.5 37.9 43.4 43.7 ...
 $ male_0_20            : int  677 20796 24873 15755 6834 9057 3293 21806 4747 4099 ...
 $ male_21_49           : int  900 32947 31121 20438 9663 15262 4659 28436 6130 5144 ...
 $ male_50_above        : int  1701 27110 29975 27238 14520 18187 5045 27876 7914 6640 ...
 $ female_0_20          : int  603 20668 23801 16106 6541 9040 3317 21270 4614 3647 ...
 $ female_21_49         : int  924 32285 33109 20580 9882 14232 4489 26221 6228 4865 ...
 $ female_50_above      : int  1657 30864 35761 30387 15317 20449 5218 30288 8340 7125 ...
 $ unemployed_pop       : int  149 3827 5563 4142 1589 2349 526 4962 907 741 ...
 $ employed_pop         : int  2784 90054 78078 64576 30674 41471 13437 80613 19872 14475 ...
 $ commute              : int  4820 148357 145421 114755 55288 73711 23083 137743 31572 24724 ...
 $ worked_at_home       : int  167 4783 3270 3110 1487 2711 906 3821 1811 1106 ...
 $ walked_to_work       : int  81 6859 1379 1725 449 2749 536 3533 1466 535 ...

In [32]:
#check

# Convert state names to lowercase and count unique values
unique_state_names <- dataset_plus_census %>%
  mutate(state_name = tolower(state)) %>%  # Convert to lowercase
  summarize(unique_count = n_distinct(state_name))
print(unique_state_names)

# count of state FIPs codes
n_distinct(dataset_plus_census$state_fips_code)

# Convert county names to lowercase, remove "count" from the names, and count unique values
unique_county_names <- dataset_plus_census %>%
    mutate(county_name = tolower(county_name)) %>%
    mutate(count_name = gsub("county", "", county_name, ignore.case = TRUE)) %>%
    summarize(unique_count = n_distinct(county_name))
print(unique_county_names)

  unique_count
1           51

[1] 51

  unique_count
1         1878

There are 51 different states with their corresponding FIPs codes, and 1878 counties in the dataset.

## Chosen Variables

We looked at all of the 31 feature variables that could be correlated to confirmed cases or deaths in project 1. Based on the observations made, following were the variables that seem to be highly correlated with confirmed cases.
- Race
- Income range
- Age group

Therefore, these variables are chosen to peform various types of cluster analysis.

In [37]:
# Basic statistics of the chosen variables
str(dataset_plus_census %>% select(white_pop, black_pop, asian_pop, hispanic_pop, amerindian_pop, other_race_pop,
                                  income_less_50K, income_50K_100K, income_100K_150K, income_150K_more,
                                  male_0_20, male_21_49, male_50_above, female_0_20, female_21_49, female_50_above))

'data.frame':	3142 obs. of  16 variables:
 $ white_pop       : int  5929 143657 108627 115206 57523 71549 23895 129519 34245 29070 ...
 $ black_pop       : int  64 4091 41729 1621 285 2596 214 4425 337 272 ...
 $ asian_pop       : int  32 6144 3459 2436 579 1670 161 6690 711 186 ...
 $ hispanic_pop    : int  83 3542 11820 3769 951 4623 408 7860 795 460 ...
 $ amerindian_pop  : int  20 374 967 1047 130 290 208 38 94 65 ...
 $ other_race_pop  : int  6 240 377 260 65 159 0 336 57 9 ...
 $ income_less_50K : int  1650 24184 27659 16334 9365 12051 4803 16508 5965 6387 ...
 $ income_50K_100K : int  802 20318 21746 14204 8472 10443 3240 16815 5122 3736 ...
 $ income_100K_150K: int  193 11615 8704 9953 3886 6530 1411 10705 2363 1339 ...
 $ income_150K_more: int  75 8789 5272 9117 2856 6397 947 10850 1251 632 ...
 $ male_0_20       : int  677 20796 24873 15755 6834 9057 3293 21806 4747 4099 ...
 $ male_21_49      : int  900 32947 31121 20438 9663 15262 4659 28436 6130 5144 ...
 $ male_50_above   : int  1701 27110 29975 27238 14520 18187 5045 27876 7914 6640 ...
 $ female_0_20     : int  603 20668 23801 16106 6541 9040 3317 21270 4614 3647 ...
 $ female_21_49    : int  924 32285 33109 20580 9882 14232 4489 26221 6228 4865 ...
 $ female_50_above : int  1657 30864 35761 30387 15317 20449 5218 30288 8340 7125 ...

## K-means (Euclidean distance)

### Clustering Tendency

#### Visual Analysis for Cluster Tendency Assessment (VAT)

#### Hopkins statistic

### Inspect the clusters

### Cluster Evaluation (Unsupervised Cluster Evaluation)

### Elbow Method (Compute within-cluster sum of squares)

### Average Silhouette Width

### Dunn Index

## Agglomerative Hierarchical Clustering (Euclidean distance)

## Third Clustering

## Fourth Clustering